.DS_Store
*.sublime-project
*.sublime-workspace
.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.map

pids
logs
results
test-results

node_modules
npm-debug.log

dump.rdb
bundle.js

build
dist
coverage
.nyc_output
.env

graphql.*.json
junit.xml

.vs

test/globalConfig.json
distTs

# Random things to ignore
ignore/
package-lock.json
.cache

**/node_modules
.idea
.vs/

# IDE/Editor GraphQL Extensions
.gqlconfig

# Relay modern
__generated__/

# Flow log
flow.log

# Cypress
cypress/videos
cypress/screenshots

differencify_reports
.parcel-cache

.vscode

# yarn berry 2 ignore strategies
## Zero Installs
.yarn/*
# !.yarn/cache - disable zero installs for now \o/
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

## non Zero Installs
#.yarn/*
#!.yarn/releases
#!.yarn/plugins
#!.yarn/sdks
#!.yarn/versions
#.pnp.*
